<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout.html}">
<head>
    <title>Student Information</title>
</head>
<body>
<div layout:fragment="content">
    <h1> Student Information </h1>
    <div class="d-flex justify-content-around align-items-center">
        <h2> Information</h2>
        <a class="btn btn-primary" th:href="@{/student-edit-personnal(id=${studentInfo.student.id})}">
            Modifier
        </a>
    </div>
    <div>
        <ul>
            <li> Filière: <span th:text="${studentInfo.course.name} "></span></li>
            <li> Prénom: <span th:text="${studentInfo.student.firstName}"></span></li>
            <li> Nom: <span th:text="${studentInfo.student.lastName}"></span></li>
        </ul>
    </div>
    <hr>
    <div>
        <div class="d-flex justify-content-around align-items-center">
            <h2> Notes </h2>
            <a class="btn btn-primary" th:href="@{/student-edit-notes(id=${studentInfo.student.id})}">
                Modifier
            </a>
        </div>
        <table class="table">
            <tr>
                <th> Matière </th>
                <th> Note </th>
                <th> Credit </th>
                <th> Note Final </th>
            </tr>
            <tr th:each="studInfo : ${studentInfo.studentSubjectInfos}" >
                <td th:text="${studInfo.subject.name}"> </td>
                <td th:text="${studInfo.getGrade()}"> </td>
                <td th:text="${studInfo.subject.credit}"> </td>
                <td th:text="${studInfo.getFinalGrade()}"> </td>
            </tr>
            <tr> 
                <td> Moyenne </td>
                <td></td>
                <td></td>
                <th th:text="${studentInfo.getAverageGrade()}"> </th>
            </tr>
        </table>
    </div>
</div>
</body>
</html>