<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout.html}"
    >
<head>
    <title>Accueil</title>

</head>
<body>
    <div layout:fragment="content">
        <h1> College Management </h1>
        <p>
            Zavatra mbola mila hatsaraina:
            <ol>
               <li>CRUD enseignant</li> 
               <li>CRUD matière</li> 
               <li>CRUD filière</li> 
               <li>Exporter note en pdf</li> 
            </ol>
        </p>
        
    </div>
</body>
</html>